body {
  background-color: cornsilk;
}

table {
  margin: 40px auto;
  border-radius: 8px;
  padding: 6px;
}

td {
  width: 30px;
  height: 30px;
  border: 2px solid #555;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  background-color: #e0e7ff;
  border-radius: 6px;
  transition: all 0.2s ease-out;


}

h1 {
  color: blue;
  font-style: italic;
  text-align: center;
}

.hidden {
  display: none;
}

.msg{
  text-align: center;
}

.buttons{
  width: 400px;
  margin: auto
}